@media (max-width: 700px) {

    nav {
        min-height: 65px;
        flex-wrap: wrap;
    }

    .menu-button {
        display: block;
    }

    .nav-links {
        display: none;

        width: 100%;
        padding: 10px 0 15px;

        flex-direction: column;
        align-items: stretch;
        gap: 2px;
    }

    .nav-links a {
        padding: 12px 10px;
    }

    #menu:checked ~ .nav-links {
        display: flex;
    }

    main > h1 {
        margin-top: 30px;
        font-size: 27px;
    }

    .cards {
        grid-template-columns: 1fr;
        padding-top: 20px;
    }

    .owner {
        padding: 22px;
    }
}